<div class="chat-container">
  <h2>Chat Privé</h2>

  <div class="messages-container" *ngIf="messages.length > 0; else noMessages">
    <div
      *ngFor="let message of messages; trackBy: trackById"
      [ngClass]="{
        sent: message.senderId === userId,
        received: message.senderId !== userId
      }"
    >
      <p>{{ message.content }}</p>
    </div>
  </div>

  <ng-template #noMessages>
    <p>Aucun message trouvé</p>
  </ng-template>

  <div class="input-container">
    <input [(ngModel)]="newMessage" placeholder="Tapez un message..." />
    <button (click)="sendMessage()">Envoyer</button>
  </div>

  <app-back-button destination="/chats"></app-back-button>
</div>
